<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center">
      {{ 'actionbar.login' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <img src="/assets/images/incom_madrid.jpg" class="logo-container center" alt="" />
    <form novalidate (ngSubmit)="processForm(forma)" #forma="ngForm" style="margin-top: 40px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">        
        <ion-item>
          <ion-label position="floating">{{ 'login.username' | translate }}</ion-label>
          <ion-input type="text" required name="username"  [(ngModel)]="loginData.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'login.password' | translate }}</ion-label>
          <ion-input type="password" required name="password" minlength="5" [(ngModel)]="loginData.password"></ion-input>
        </ion-item>        
      </ion-list>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">{{ 'login.btn' | translate }}</ion-button>
      </div>
    </form>
</ion-content>
