.welcome-card img {
  max-height: 30vh;
  max-width: 30vh;
  overflow: hidden;
}

.logo-container {
  width: 150;
  margin-bottom: 60;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:25%
}
img.center {
  width: 50%;
  margin-top: 50px;
}

ion-item {
  margin-bottom:20px;
}