<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center">
      {{ 'actionbar.main' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
